@import './custom/responsive.css';
@import './custom/switch.css';
@import './custom/filter.css';
@import './custom/collapse.css';

* {
    font-family: 'Montserrat', sans-serif;
}

.page-header h5,
.page-header .h5 {
    border: none;
}

.arrow-collapse-button {
    background-color: transparent;
    border: none;
}

.arrow-collapse-button>img {
    width: 15px;
}

.historico-ball {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
}

.historico-left:before {
    content: " ";
    height: 0;
    position: absolute;
    top: 45%;
    width: 0px;
    z-index: 1;
    right: -23px;
    border: medium solid #c3c3c3;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ededed;
}

.historico-right:before {
    content: " ";
    height: 0;
    position: absolute;
    top: 85px;
    width: 0;
    z-index: 1;
    left: -23px;
    border: medium solid #c3c3c3;
    border-width: 20px 20px 20px 0;
    border-color: transparent #c3c3c347 transparent transparent;s
}


.month {
    padding: 10px;
    border: 1px solid #ececec;
    color: rgb(47, 47, 47);
    border-radius: 5px;
    margin-right: 5px;
    width: 100%;
}

.month:hover {
    cursor: pointer;
}

.month-active {
    background-color: #7267EF;
    color: white;
}

.poin {
    cursor: pointer;
}

.offcanvas-sm,
.offcanvas-md,
.offcanvas-lg,
.offcanvas-xl,
.offcanvas-xxl,
.offcanvas {
    --bs-offcanvas-width: 50%;
}

@media (max-width:800px) {

    .offcanvas-sm,
    .offcanvas-md,
    .offcanvas-lg,
    .offcanvas-xl,
    .offcanvas-xxl,
    .offcanvas {
        --bs-offcanvas-width: 100%;
    }

}

.form-control {
    border: 1px solid #e5e5e5;
}

.form-select {
    border: 1px solid #e5e5e5;
}

.input-group-text {
    border: none;
}

::-webkit-scrollbar {
    width: 2px;
    background-color: #fff;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #cecece;
}